@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* DEFAULTS */
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


:root{
    --white-:#ECECEC;
    --white-low-:#D9D9D9;
    --grey--:#BEBEBE;
    --orange-100:#E6782B;
    --orange-20:#E6782B33;
    --orange-50:#E6782B8C;
    --orange-80:#E6782BCC;
    --orange-radial-:#E6782B, #000000;
}
section{
    display: flex;
}





a{
    text-decoration: none;
    color: black;
}
h1,h2,h4,h4,p,a,button,input{
    font-family: 'Lato', sans-serif;
}

button{
    border: none;
    outline: none;
    background: none;
}
a , p, button ,span{
    font-size: 24px;
}

.orange{
    color: var(--orange-100) !important;
    background-color: var(--orange-20);
    border-radius: 50px;
    width: fit-content;
    height: 43px;
}
.orange-bg{
    border-radius: 9px;
    background: #E6782B;
    color: white;
    }
    
    


body {
    transition: all ease-in-out 0.3s;
    
    height: 100%;
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 4rem;

}
main{
    padding: 0px 54px;
}
/* NAVIGATIION */

nav{
    display:flex;
    justify-content: space-between;
align-items: center;
align-content: center;
flex-wrap: wrap;
}

nav a {
    text-transform: capitalize;
    color: #000;
    font-weight: 500;
    line-height: normal;
}
.nav_logo_img{
    width: 120px;
height: 100px;
}
.nav_links{
    display: flex;
justify-content: center;
align-items: center;
gap: 40px;
}

.order_link{
    display: flex;
padding: 20px;
justify-content: center;
align-items: center;
gap: 10px;
}




/* sECTION LANDING PAGE */

.landing_page{
    padding-top: 2rem;
    margin-bottom: 1rem;
    height: 70vh;
}

.landing_page> div:first-child{
    display: flex;
    align-items: baseline;
    flex-direction: column;
    width: 40%;
    height: 80%;
    gap: 1rem;
}

.landing_page h1, .landing_page h1> span{
font-size: 50px;
font-weight: 700;
}

.landing_page p{
    font-weight: 700;
    line-height: 50px;
    color: var(--grey--);
}
.landing_buttons{
    display: flex;
    height: 3rem;
    gap :1rem;
    flex-wrap: wrap;
}
.order_btn{
    text-transform: capitalize;
    padding: 10px;
    display: flex;
    flex-wrap: nowrap;

}
.search{
    display: flex;
    gap: 5px;
}
.search_btn{
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}


.landing_buttons input{
    border-radius: 50px;
    border: var(--orange-50) 1px solid;
    text-transform: capitalize;
    padding: 10px;
}
.landing_page> div:last-child{
    width: 60%;
    display: flex;
    justify-content: space-around;
    height: 100%;
    padding: 1rem 2rem;
}
.tilt{
    height: 100%;
    width: 70%;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;

}
.tilt-background{
    width: 70%;
    border-radius: 75px;
    height: 200px;
    transform: rotate(-16deg);
    
}
.tilt-text{
    position: relative;
    color: rgb(0, 0, 0) !important;
    
}
.tilt-middle{
    height: 350px;
    width: 60%;
}
.tilt a{
    display: inline-flex;
    height: 59px;
    padding: 0px 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 60px;
background: rgba(230, 120, 43, 0.55);
box-shadow: 0px 10px 10px 0px rgba(117, 48, 0, 0.30);
color: #000;
font-weight: 700;
line-height: 100px; 
}

.tilt:first-of-type{
    
    transform: translateY(60px) translateX(60px);
}
.tilt:last-of-type{
    transform: translateY(-60px) translateX(-60px);
}
















.quick_select{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
height: 336px;
background: radial-gradient(49.86% 49.86% at 49.96% 50.14%, #E6782B 37.04%, #000 100%);

}
.back-icon{
    width: 49.027px;
    position: absolute;
    height: 48.415px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    left: -30px;
}
.front-icon{
    width: 49.027px;
    position: absolute;
    height: 48.415px;
    right:-30px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.slider_icon{
    border-radius: 50px;
}
.quick_select > div{overflow-x: hidden;
    width: 100%;
    display: flex;
    padding: 0rem 1rem;
    gap: 1rem;
    
}
.quick_select_food{
    width: 100%;
    height: 307px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}

.quick_select_food p{
    color: white;
    text-transform: capitalize;
}
.quick_select_food > div{
    position: relative;
}

.quick_select_food_ellipse{
    border-radius: 50px;
}
.off-price{
    position: absolute;
    top: 10px;
    right: -30px;
    display: inline-flex;
padding: 14px 11px;
justify-content: center;
align-items: center;
border-radius: 30px;
border: 3px solid #E6782B;
background: #FFF;
}



/* SPECIAL ORDER  */
.special_order{
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.special_order h1{
    width: 100%;
    align-items: start;
    justify-content: flex-start;
    color: #000;

font-size: 50px;
font-weight: 700;
line-height: normal;
margin-bottom: 2rem;
}
.special_order span{
    font-size: 50px;
    text-transform: capitalize;
}
.special_order > div{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
}
.special_order_cards{
    width: 30%;
    display: flex;
padding: 20px 15px; 
justify-content: space-between;
height: 500px;
flex-direction: column;
align-items: start;

border-radius: 9px;
border: 1px solid #E6782B;
background: #FFF;
}
.special_order_cards_img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 264px;
align-self: stretch;
box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.25);
}
.special_order_cards p{
    color: #000;
    font-weight: 700;
    line-height: 50px; /* 208.333% */
}
.special_order_cards button{
    color: #FFF;
font-weight: 700;
line-height: normal;
}












footer{
    width: 100%;
    display: flex;
padding: 30px 60px;
align-items: flex-start;
justify-content: space-between;
background: #E6782B;
width: 100%;
}
.footer_div{
    display: flex;
flex-direction: column;
justify-content: space-between;
height: 100%;
align-items: flex-start;
gap: 10px;
width:  20%;
}
footer p{
    color: white;
    font-weight: 700;
    text-transform: capitalize;
}

.footer-label{
    text-decoration: underline; 

}
footer svg{
    fill: white;
}
footer a{
    text-transform: capitalize;
    color: #FFF;
font-weight: 400;
line-height: normal;
font-size: 20px;
}
.contact_us_footer> div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 10px;
}
.contact_us_footer> div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 10px;
}
.contact_us_footer> div p{
    font-size: 20px;
}
.footer_logo{
height: 100px;
}
.footer_socials{
    gap: 2rem;
    display: flex;
}